<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>
    <httpPlatform
      processPath="C:\Program Files (x86)\nodejs\20.20.2\node.exe"
      arguments="server.js"
      stdoutLogEnabled="true"
      stdoutLogFile="\\?\%home%\LogFiles\stdout"
      startupTimeLimit="120">
      <environmentVariables>
        <environmentVariable name="PORT" value="%HTTP_PLATFORM_PORT%" />
        <environmentVariable name="NODE_ENV" value="production" />
        <environmentVariable name="REVIEW_DATA_DIR" value="%HOME%\site\data" />
        <environmentVariable name="PUBLIC_BASE_URL" value="https://gather-nexus-new-refreshment-site-gea5ddfae7gwhtbv.uksouth-01.azurewebsites.net" />
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
</configuration>
