<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
    <httpPlatform
      processPath="cmd.exe"
      arguments="/c run.cmd"
      stdoutLogEnabled="true"
      stdoutLogFile="\\?\%home%\LogFiles\stdout"
      startupTimeLimit="180"
      requestTimeout="00:04:00">
      <environmentVariables>
        <environmentVariable name="PORT" value="%HTTP_PLATFORM_PORT%" />
        <environmentVariable name="NODE_ENV" value="production" />
        <environmentVariable name="REVIEW_DATA_DIR" value="%HOME%\site\data" />
        <environmentVariable name="PUBLIC_BASE_URL" value="https://gather-nexus-new-refreshment-site-gea5ddfae7gwhtbv.uksouth-01.azurewebsites.net" />
      </environmentVariables>
    </httpPlatform>
    <httpErrors existingResponse="PassThrough" />
  </system.webServer>
</configuration>
